<div class="reserveLightbox" id="booking" onclick="this.style.display='none'">
	<div class="lightboxContent" onclick="event.stopPropagation()">
		<div class="content">
			<div class="title">Rezerviši termin:</div>
			<div class="text">Za rezervaciju i proveru dostupnih termina molimo pozovite nas na <a href="tel:+381643363331">064/336-333-1</a>.<br>&nbsp;<br>Naše radno vreme je svakim danom od 08:00 - 24:00.</div>
			<div class="buttonWrap">
				<div class="button">
					<a href="tel:+381643363331">Klikni za poziv</a>
				</div>
			</div>
			<div class="note"><sup>*</sup>Online rezervacije i plaćanje uskoro</div>
		</div>
		<div class="close" onclick="document.getElementById('booking').style.display='none'"></div>
	</div>
</div>