<div class="reserveLightbox" id="booking" onclick="this.style.display='none'">
	<div class="lightboxContent" onclick="event.stopPropagation()">
		<div class="content">
			<div class="title">Rezerviši termin:</div>
			<div class="text">Za rezervaciju i proveru dostupnih termina molimo pozovite nas na <a href="tel:+381641123456">064/1-123-456</a></div>
			<div class="buttonWrap">
				<div class="button">
					<a href="tel:+381641123456">Klikni za poziv</a>
				</div>
			</div>
			<div class="note"><sup>*</sup>Online rezervacije i plaćanje uskoro</div>
		</div>
		<div class="close" onclick="document.getElementById('booking').style.display='none'"></div>
	</div>
</div>