<div id="menu" class="primaryMenu">
	<div class="contentWidth">
		<div class="logo">
			<a href="/"><img src="/logos/logo.png"></a>
		</div>
		<div class="menu">
			<div class="menuItem"><a href="/">Padel</a></div>
			<div class="menuItem"><a href="/o-nama">O nama</a></div>
			<div class="menuItem"><a href="/pravila">Pravila</a></div>
			<div class="menuItem"><a href="/vesti">Vesti</a></div>
			<div class="menuItem"><a href="/cenovnik">Cenovnik</a></div>
			<div class="menuItem"><a href="/galerija">Galerija</a></div>
			<div class="contactPhoneButton">Rezerviši</div>
		</div>
		<div class="responsiveHandle" id="responsive-menu-handle" onclick="openMenu(this)">
			<div class="wrap">
				<div class="topBar bar"></div>
				<div class="middleBar bar"></div>
				<div class="bottomBar bar"></div>
			</div>
		</div>
		<script>
			function openMenu(elem){
				var menu = elem.parentElement.getElementsByClassName("menu")[0];
				if(elem.dataset.opened==1){
					//zatvori meni
					menu.classList.remove(menu.classList[0]+"Active");
					elem.classList.remove(elem.classList[0]+"Active");
					elem.dataset.opened = 0;
				}else{
					//Otvori meni
					menu.classList.add(menu.classList[0]+"Active");
					elem.classList.add(elem.classList[0]+"Active");
					elem.dataset.opened = 1;
				}
			}
		</script>
		<div class="contact">
			<div class="button" onclick="document.getElementById('booking').style.display='block'">Rezerviši</div>
		</div>
	</div>
</div>