<%- include ("partials/header") -%>
	<div class="cenovnik">
		<div class="pageHeader">
			<div class="title">Cenovnik</div>
			<div class="overlay"></div>
			<div class="triangleLeft"></div>
			<div class="triangleRight"></div>
		</div>
		<div class="whiteSection">
			<div class="contentWidth">
				<div class="tableTitle">DNEVNI CENOVNIK - NAJAM PO SATU</div>
				<div class="table">
					<table>
						<tr>
							<td>Radnim danima u periodu od 8:00 do 17:00h</td>
							<td>2.800 RSD</td>
						</tr>
						<tr>
							<td>Radnim danima u periodu od 17:00 do 24:00h</td>
							<td>3.800 RSD</td>
						</tr>
						<tr>
							<td>Subotom i nedeljom u periodu od 8:00 do 24:00h</td>
							<td>3.500 RSD</td>
						</tr>
					</table>
				</div>
				<div class="tableTitle">ČLANSTVO 6 MESECI / 26 NEDELJA</div>
				<div class="tableSubTitle">PRODAJE SE MINIMUM 2 SATA VEZANO JEDNOM NEDELJNO (1 TERMIN)</div>
				<div class="table">
					<table>
						<tr>
							<td>Radnim danima u periodu od 9:00 do 17:00h</td>
							<td>1.080 EUR</td>
						</tr>
						<tr>
							<td>Radnim danima u periodu od 17:00 do 24:00h</td>
							<td>1.470 EUR</td>
						</tr>
						<tr>
							<td>Subotom i nedeljom u periodu od 8:00 do 24:00h</td>
							<td>1.350 EUR</td>
						</tr>
					</table>
				</div>
				<div class="tableTitle">REKETI</div>
				<div class="table">
					<table>
						<tr>
							<td>Iznajmljivanje reketa</td>
							<td>500 RSD</td>
						</tr>
						<tr>
							<td>Grip</td>
							<td>120 RSD</td>
						</tr>
					</table>
				</div>
				<div class="tableTitle">LOPTICE</div>
				<div class="table">
					<table>
						<tr>
							<td>Loptice Tecnifibre</td>
							<td>1.100 RSD</td>
						</tr>
					</table>
				</div>
				<div class="cenovnikNote"><sup>*</sup>Cene izražene u EUR se naplaćuju u dinarskoj protivvrednosti po kupovnom kursu NBS.</div>					
			</div>
		</div>
	</div>
<%- include ("partials/footer") -%>
