<%- include ("partials/header") -%>
	<div class="about">
		<div class="pageHeader" style="background-image:url(<%=bucket%>/images/oNama.jpg);">
			<div class="title">O nama</div>
			<div class="overlay"></div>
			<div class="triangleLeft"></div>
			<div class="triangleRight"></div>
		</div>
		<div class="whiteSection">
			<div class="contentWidth">
				<div class="titleText">
					<div class="title">Ko smo mi?</div>
					<div class="text">
						Dobrodošli u Padel Zonu Sinđelić, vašu destinaciju za uživanje u padelu u najboljem ambijentu! Naša firma nudi vrhunske padel terene koji su idealni za sve ljubitelje ovog dinamičnog sporta. Bez obzira da li ste početnik ili iskusni igrač, kod nas ćete pronaći savršeno mesto za aktivno provedeno vreme sa prijateljima ili porodicom.
					</div>
				</div>					
			</div>
		</div>
		<div class="imageTitleSection" style="background-image:url(<%=bucket%>/images/oNama2.jpg);">
			<div class="topTriangle"></div>
			<div class="bottomTriangle"></div>
			<div class="overlay"></div>
			<div class="contentWidth">
				<div class="title">NAJBOLJI PADEL TERENI</div>
				<div class="subTitle">U SRBIJI</div>
			</div>
		</div>
		<div class="whiteSection">
			<div class="contentWidth">
				<div class="titleText">
					<div class="title">O nama</div>
					<div class="text">Naši tereni su pažljivo dizajnirani kako bi pružili najbolje moguće iskustvo svim igračima. Sa kvalitetnom podlogom i modernom opremom, možete uživati u igri bez brige za detalje. Osim toga, naš prijateljski i profesionalni tim stoji vam na raspolaganju kako bi vaša iskustva bila nezaboravna.<br>&nbsp;<br>Pored iznajmljivanja terena, nudimo i razne dodatne usluge kao što su časovi sa instruktorima za sve nivoe igrača, organizacija turnira i događaja, kao i mogućnost zakupa za korporativne ili privatne zabave.<br>&nbsp;<br>Zato ne oklevajte! Posetite nas i prepustite se uzbudljivom svetu padela uz Padel Zonu Sinđelić. Vaša avantura počinje ovde!</div>
				</div>					
			</div>
		</div>
		<div class="whiteSection">
			<div class="contentWidth">
				<div class="titleText">
					<div class="title">Svratite i uverite se sami</div>
				</div>					
			</div>
		</div>
		<div id="map" style="height:500px"></div>
		<script src="/js/map.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsUyoMs0Ba_6bPbtD5A5_1yOJXjjMYsMQ&amp;callback=initMap" async="" defer=""></script>
	</div>
<%- include ("partials/footer") -%>
