<%- include ("partials/header") -%>
	<div class="login">
		<div>
			Uspešno ste otkazali rezervaciju.
		</div>
		<div class="button">
			<a href="/administracija">Rezervacije</a>
		</div>
	</div>
<%- include ("partials/footer") -%>