<%- include ("partials/header") -%>
	<div class="pravila">
		<div class="pageHeader">
			<div class="title">Pravila</div>
			<div class="overlay"></div>
			<div class="triangleLeft"></div>
			<div class="triangleRight"></div>
		</div>
		<div class="whiteSection">
			<div class="contentWidth">
				<div class="titleText">
					<div class="title">Šta je padel?</div>
					<div class="text">
						<p>Padel je reketni sport koji kombinuje elemente tenisa, skvoša i badmintona. Obično se igra u parovima na zatvorenom terenu koji je trećina veličine teniskog terena.</p>
						<p>Bodovanje je isto kao u tenisu, a loptice koje se koriste su slične, ali sa malo manjim pritiskom. Glavna razlika je u tome što teren ima staklene zidove i sa njih se loptice mogu igrati na sličan način kao u igri skvoša. Visina lopte koja se servira mora biti na nivou struka ili ispod njega.</p>
					</div>
				</div>					
			</div>
		</div>
		<div class="imageTitleSection">
			<div class="topTriangle"></div>
			<div class="bottomTriangle"></div>
			<div class="overlay"></div>
			<div class="contentWidth">
				<img src="/images/teren.png">
			</div>
		</div>
		<div class="whiteSection">
			<div class="contentWidth">
				<div class="titleText">
					<div class="title">Kako se igra padel?</div>
					<div class="text">
						<p>Sistem bodovanja u padelu je sličan onom u tenisu. Prva dva seta igraju se na šest gemova, sa tajbrejkom ako rezultat dostigne 6-6. Finalni set se po potrebi igra na 10 poena. </p>

						<p>Servis u padelu se izvodi ispod ruke i mora biti pogođen dijagonalno preko terena u servisni prostor na suprotnoj strani mreže. Onaj koji servira mora držati jednu nogu iza servisne linije dok lopta ne bude udarena, i mora da udari loptu nakon što se ona odbije od zemlje. </p>

						<p>Poeni u padelu se postižu kada protivnička ekipa ne uspe da vrati loptu pre nego što se ona dva puta odbije na njihovoj strani terena, udari loptu van granica terena ili napravi grešku, kao što je dodirivanje mreže telom ili reketom.</p>

						<p>Kada lopta udari u stakleni zid i odskoči u igru, ona se i dalje smatra u igri i nadigravanje se nastavlja. Ako lopta udari u stakleni zid i izađe van granica, protivnička ekipa osvaja bod. </p>
					</div>
				</div>					
			</div>
		</div>
	</div>
<%- include ("partials/footer") -%>
