<%- include ("partials/header") -%>
	<div class="vesti">
		<div class="pageHeader" style="background-image:url(<%=bucket%>/images/vesti.jpg);">
			<div class="title">Vesti</div>
			<div class="overlay"></div>
			<div class="triangleLeft"></div>
			<div class="triangleRight"></div>
		</div>
		<div class="news">
			<div class="contentWidth">
				<div class="imageWrap" style="background-image: url(<%=bucket%>/images/vest.jpg);"></div>
				<div class="content">
					<div class="title">Grand Opening Padel Zone Sinđelić</div>
					<div class="description">
						<p>Da li ste spremni za Grand Opening Padel Zone Sindjelic?</p>
						<p>Povodom otvaranja našeg padel kluba,organizujemo prize money turnir 18. i 19. maja na našim terenima
						Prijave za turnir su otvorene do 14.maja!</p>
						<p>Čekamo vas!</p>
					</div>
					<div class="buttonWrap">
						<div class="button">
							<a href="/vesti/vest">PROČITAJ VIŠE</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<%- include ("partials/footer") -%>
