<%- include ("partials/header") -%>
	<div class="vesti">
		<div class="pageHeader">
			<div class="title">Vesti</div>
			<div class="overlay"></div>
			<div class="triangleLeft"></div>
			<div class="triangleRight"></div>
		</div>
	</div>
<%- include ("partials/footer") -%>
